@use 'src/styles.scss' as *;

header {
    @include flex-row(space-between, center);

    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.3);
    transition: all 100ms;

    h2 {
        @include bold-font(clamp(3vw, 14px, 4vw));
    }

    .links {
        @include flex-row(space-around, center);
        width: 100%;

        img {
            cursor: pointer;
        }
    }

    .menu {
        @include flex-row(center, center);
        border-radius: 50%;
        cursor: pointer;
        width: 40px;
        height: 40px;
        user-select: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    @include tablet {
        height: 45px;
    }
}
