<div class="games-downloader">
    <h2>Games</h2>
    <div class="games">
        <app-external-app-info
            *ngFor="let game of games$ | async"
            (click)="onGameCardClick(game)"
            [description]="game.description"
            [img]="game.img"
            [title]="game.title"
            [isDownloader]="game.isDownloader"
            [isDownloading]="game.isDownloader ? isDownloadingGame(game) : false"
            [onClick]="callbackOnButtonClick(game)"
        ></app-external-app-info>
    </div>
</div>
