<div class="option-in-selector" [class.option-in-selector-opened]="info.isOpen" [style.background-color]="info.bgColorRGB || 'gray'">
    <div class="option-in-selector__content" [class.option-in-selector__content-opened]="info.isOpen" (click)="handleClick(info)">
        <p class="option-in-selector__text">{{ info.value }}</p>
        <app-arrow-down-button *ngIf="hasChildren" [isOpen]="info.isOpen"></app-arrow-down-button>
    </div>
    <div *ngIf="info.children.length > 0 && info.isOpen" [@showHideAnimation]>
        <app-option-in-selector
            *ngFor="let option of info.children; trackBy: trackByFn"
            [info]="getOptionWithDimmedBG(option, info.bgColorRGB!)"
            (onClick)="onClick.emit($event)"
        >
        </app-option-in-selector>
    </div>
</div>
