@use 'src/styles.scss' as *;

:host {
    .external-app-info {
        @include flex-row(flex-start, center);

        position: relative;
        top: 0;
        left: 0;
        height: 200px;
        margin: 20px 0;
        padding: 10px 20px;
        box-shadow: 7px 5px 2px 2px gray;
        background-color: rgba(64, 215, 165, 0.7);
        cursor: pointer;
        transition: all 0.1s;
        transform: skewX(-8deg);

        &:hover {
            box-shadow: 4px 4px 0 0;
            top: 4px;
            left: 4px;
        }
    }

    .logo {
        border-radius: 50%;
        margin-right: 50px;
        img {
            width: 150px;
            height: 150px;
            border-radius: 20%;
            object-fit: cover;
        }
    }

    .body {
        @include flex-column(flex-start, flex-start);
    }
}
