<div class="external-app-info">
    <div class="logo">
        <img [src]="img" alt="App" />
    </div>
    <div class="body">
        <h3>{{ title }}</h3>
        <p>{{ description | shortifyText : maxDescriptionLength }}</p>
        @if (isDownloader) {
        <app-animated-button
            (click)="handleButtonClick($event)"
            [text]="'Download'"
            [type]="'download'"
            [isDownloading]="isDownloading"
        ></app-animated-button>
        }@else{
        <app-animated-button (click)="handleButtonClick($event)" [text]="'Open'" [type]="'link'"></app-animated-button>
        }
    </div>
</div>
