@use 'src/styles.scss' as *;

:host {
    .external-app-info {
        @include flex-row(flex-start, center);

        height: 200px;
        margin: 20px 0;
        padding: 10px 20px;
        box-shadow: 0 0 2px 2px gray;
        border-radius: 30px;
        background-color: rgba(64, 215, 165, 0.7);
        cursor: pointer;
        opacity: 1;
        transition: all 0.1s;

        &:hover {
            opacity: 0.8;
        }
    }

    .logo {
        border-radius: 50%;
        margin-right: 50px;
        img {
            width: 150px;
            height: 150px;
            border-radius: 20%;
            object-fit: cover;
        }
    }

    .body {
        @include flex-column(flex-start, flex-start);
    }
}
