@use 'src/styles.scss' as *;

:host {
    .voice-chat-wrapper {
        @include flex-column(start, start);
        gap: 15px;
    }

    .connection-section {
        @include flex-column(start, start);
        gap: 2px;
    }

    .messages {
        @include flex-column(start, start);
        gap: 10px;
    }
}
