<div class="voice-chat-wrapper">
    <div class="connection-section">
        <textarea id="remote-sdp" name="remote-sdp" rows="4" cols="50"></textarea>
        <app-button (onClick)="createRoom()" [text]="'Create voice room'"></app-button>
        <app-button (onClick)="setRemoteDescriptor()" [text]="'Set remote SDP'"></app-button>
        <app-button (onClick)="connectToRoom()" [text]="'Connect to room'"></app-button>
        <app-button (onClick)="disconnect()" [text]="'Disconnect'"></app-button>
    </div>

    <div class="chat-section">
        <app-input [label]="'Message'" [control]="messageCtrl"></app-input>
        <app-button (onClick)="sendMessage()" [text]="'Send'"></app-button>
    </div>

    <div class="messages">
        <p *ngFor="let msg of _messages$ | async">User {{ msg.name }} write: {{ msg.msg }}</p>
    </div>
</div>
