<div
    *ngLet="{
        roomInfo: roomInfo$ | async,
        videoEnabled: videoEnabled$ | async
    } as state"
    class="voice-room-wrapper"
>
    <h3>Room {{ state.roomInfo.name }}</h3>

    <div class="info">
        <p>ID: {{ state.roomInfo.id }}</p>
        <p>Users: {{ state.roomInfo.users.length + 1 }} / {{ state.roomInfo.max_users }}</p>
    </div>

    <div class="users">
        <ng-container *ngTemplateOutlet="mySquare; context: { userName: state.roomInfo.me.name }"> </ng-container>

        <ng-container *ngFor="let user of state.roomInfo.users" class="user">
            <ng-container *ngTemplateOutlet="userSquare; context: { user: user }"> </ng-container>
        </ng-container>
    </div>

    <ng-template #mySquare let-userName="userName">
        <div class="user">
            <div class="photo" [style.background-color]="'#e62753'">
                <span class="material-symbols-outlined icon"> person </span>
            </div>
            <div class="name">
                <span> {{ userName }} </span>
            </div>
            <div class="action-bar">
                <span class="material-symbols-outlined action-icon" (click)="toggleMyVoice()">
                    {{ state.roomInfo.me.muted ? 'mic_off' : 'mic' }}
                </span>
                <span class="material-symbols-outlined action-icon" (click)="toggleMyVideo()">
                    {{ state.videoEnabled ? 'video_camera_front' : 'video_camera_front_off' }}
                </span>
                <span class="material-symbols-outlined action-icon red-bg" (click)="disconnect()"> call_end </span>
            </div>
        </div>
    </ng-template>

    <ng-template #userSquare let-user="user">
        <div class="user">
            <div *ngIf="user.loading" class="loading">
                <span>&bull;</span>
                <span>&bull;</span>
                <span>&bull;</span>
            </div>

            <div class="photo" [style.background-color]="user.iconHexColor">
                <span class="material-symbols-outlined icon"> person </span>
            </div>
            <div class="name">
                <span> {{ user.userName }} </span>
            </div>
            <div class="action-bar">
                <span class="material-symbols-outlined action-icon" (click)="toggleUserVoice(user.userId)">
                    {{ user.mutedLocally ? 'volume_off' : 'volume_up' }}
                </span>
                <span
                    class="material-symbols-outlined remote-mic"
                    [ngClass]="user.mutedRemotely ? 'remote-mic-muted' : 'remote-mic-enabled'"
                >
                    {{ user.mutedRemotely ? 'mic_off' : 'mic' }}
                </span>
            </div>
        </div>
    </ng-template>
</div>
