@use 'src/styles.scss' as *;

:host {
    .option-selector {
        @include flex-column(flex-start, center);

        position: fixed;
        z-index: 100;
        background: rgb(240, 240, 240);
        top: 69px;
        left: 0;
        bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
        border: 1px solid gray;
    }
}
