<div class="one-text-column-settings" [formGroup]="columnFormGroup">
    <div class="one-text-column-settings__params">
        <app-input [control]="getControlFromColumnGroup('name')" [label]="'Column name'" [placeholder]="'Enter column name'"></app-input>
        <app-input
            *ngIf="hasMinMaxControls"
            [@opacityAnimation]
            [control]="getControlFromColumnGroup('max')"
            [label]="'Max'"
            [type]="'number'"
            [placeholder]="'Enter column max'"
        ></app-input>
        <app-input
            *ngIf="hasMinMaxControls"
            [@opacityAnimation]
            [control]="getControlFromColumnGroup('min')"
            [label]="'Min'"
            [type]="'number'"
            [placeholder]="'Enter column min'"
        ></app-input>
        <app-input
            [control]="getControlFromColumnGroup('nullValuesPercent')"
            [label]="'% of rows with nullable value'"
            [type]="'number'"
        ></app-input>
        <app-select [control]="getControlFromColumnGroup('type')" [label]="'Column type'" [options]="columnTypeOptions"></app-select>
        <ng-container *ngIf="isSqlDocType">
            <app-input
                [@opacityAnimation]
                [control]="getControlFromColumnGroup('refTableName')"
                [label]="'Foreign key table'"
                [placeholder]="'Enter table name to set column as foreign key'"
            ></app-input>
            <app-input
                [@opacityAnimation]
                [control]="getControlFromColumnGroup('refColumnName')"
                [label]="'Foreign key column'"
                [placeholder]="'Enter column name of foreign table to set column as foreign key'"
            ></app-input>
            <app-checkbox
                [@opacityAnimation]
                [control]="getControlFromColumnGroup('isPrimaryKey')"
                [label]="'Set as primary key'"
            ></app-checkbox>
        </ng-container>
    </div>

    <app-delete-button (click)="removeColumns()"></app-delete-button>
</div>
