@use 'src/styles.scss' as *;

:host {
    .one-text-column-settings {
        @include flex-row(flex-start, flex-start);
        background: rgba(0, 0, 0, 0.1);
        padding: 10px 10px 0 10px;
        border-radius: 10px;

        &__params {
            @include flex-row(flex-start, flex-start);
            flex-wrap: wrap;
            margin-right: 20px;

            app-input,
            app-select,
            app-checkbox,
            app-date-picker {
                margin-right: 10px;
                margin-bottom: 17px;
                width: 250px;
            }
        }
    }
}
