@use 'src/styles.scss' as *;

:host {
    .message {
        @include flex-row(flex-start, center);
        gap: 10px;

        width: 100%;
        padding: 2px;
        font-weight: bold;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 2px 0 black;
    }

    img {
        border-radius: 50%;
    }
}
