@use 'src/styles.scss' as *;

:host {
    .app-checkbox {
        @include flex-column(center, flex-start);
        gap: 2px;
        max-width: 350px;

        &__error {
            font-size: 12px;
            margin-left: 10px;
        }
    }
}
