@use 'src/styles.scss' as *;

:host {
    .room {
        @include flex-column(space-around, center);

        width: 100%;
        margin: 10px 0;
    }

    .room__header {
        @include flex-column(center, center);
        width: 100%;
    }

    .room__main {
        @include flex-row(space-between, baseline);
        width: 100%;

        .room__left {
            @include flex-column(space-around, baseline);
            gap: 10px;

            &-players,
            &-buttons {
                @include flex-column(space-around, baseline);
                gap: 5px;
                width: 100%;
            }

            &-players {
                span {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }

        .room__right {
            // width: 100%;
        }
    }

    .room__fields {
        @include flex-row(space-around, center);

        width: 100%;
        margin-top: 10px;
    }
}
