@use 'src/styles.scss' as *;

:host {
    .dino-game-container {
        position: relative;
        overflow-x: hidden;
        height: 90vh;
    }

    .dino-game-bg {
        background: url('../../../../../../../assets/backgrounds/beach.jpg') repeat-x;
        background-size: 800px 100%;
        width: 12000px;
    }

    .active-difficulty-1 {
        // 12000px / 35s = 342.857px in 1000 ms
        // 342.857 / 1000 = 0.342857px in 1 ms
        // 3600 / 0.342857 = 10500ms is tick for changing animation type after sliding 6 images(600px(width) * 6)

        animation: slide 45s linear infinite;
    }

    .active-difficulty-2 {
        // 12_000px / 30_000ms = 0.4px in ms
        // 3600 / 0.4 = 9_000ms
        animation: slide 40s linear infinite;
    }

    .active-difficulty-3 {
        // 12_000px / 25_000ms = 0.48px in ms
        // 3600 / 0.48 = 7500ms
        animation: slide 37s linear infinite;
    }

    .active-difficulty-4 {
        // 12_000px / 20_000ms = 0.6px in ms
        // 7200 / 0.6 = 12_000ms
        animation: slide 35s linear infinite;
    }

    .active-difficulty-5 {
        // 12_000px / 15_000 = 0.8px in ms
        // 7200 / 0.8 = 9_000ms
        animation: slide 30s linear infinite;
    }

    .active-difficulty-6 {
        animation: slide 25s linear infinite;
    }

    .inactive {
        animation: none;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-10400px);
        }
    }

    .dino-game-info {
        @include flex-column(flex-start, flex-start);

        position: absolute;
        top: 10px;
        left: 10px;
        gap: 8px;
    }

    .dino-game-menu-btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
