<ng-container
    *ngLet="{
        menuState: menuState$ | async,
        animationStyle: bgAnimation$ | async,
        timeMs: timeMs$ | async,
        difficulty: difficulty$ | async,
        score: score$ | async,
        bestResults: bestResults$ | async
    } as state"
>
    <div class="dino-game-container" id="dino-game-container">
        <div class="dino-game-bg" [ngClass]="[state.animationStyle]">
            <ng-content></ng-content>
        </div>

        <div class="dino-game-info">
            <app-timer [ms]="state.timeMs"></app-timer>
            <app-game-info-element [name]="'Round'" [value]="state.difficulty"></app-game-info-element>
            <app-game-info-element [name]="'Score'" [value]="state.score"></app-game-info-element>
        </div>

        <div class="dino-game-menu-btn">
            <app-game-menu-button [iconName]="'settings'" (click)="pause()"></app-game-menu-button>
        </div>

        <app-game-menu
            *ngIf="state.menuState !== 'hidden'"
            [state]="state.menuState"
            [bestResults]="state.bestResults"
            (buttonClicked)="handleMenuBtnClick($event)"
        ></app-game-menu>
    </div>
</ng-container>
