<div *ngLet="isSqlDocType$ | async as isSql" class="wrapper">
    <div class="header">
        <h2>Create txt/sql/doc/pdf/csv file</h2>
        <app-animated-button (click)="downloadFile()" [isDownloading]="(isDownloading$ | async)!"></app-animated-button>
    </div>
    <div class="form-controls">
        <div class="form-controls__columns">
            <app-one-column-settings
                *ngFor="let columnFormGroup of columnsControls; let i = index"
                @opacityAnimation
                [columnFormGroup]="columnFormGroup"
                [isSqlDocType]="isSql"
                (handleRemove)="deleteColumn(i)"
            ></app-one-column-settings>
        </div>

        <div class="form-controls__add-column">
            <app-button (click)="addColumn()" [text]="'+ Add column'"></app-button>
        </div>

        <div class="form-controls__others">
            <app-select [control]="docTypeControl" [label]="'Document type'" [options]="docTypeOptions"></app-select>
            <app-input [control]="docNameControl" [label]="'Document name'" [placeholder]="'Enter file name'"></app-input>
            <app-input
                [control]="rowsCountControl"
                [label]="'Rows count'"
                [placeholder]="'Enter rows count in table'"
                [type]="'number'"
            ></app-input>
            <app-input
                *ngIf="isSql"
                @opacityAnimation
                [control]="tableNameControl!"
                [label]="'Table name'"
                [placeholder]="'Enter name of sql table'"
            ></app-input>
            <app-checkbox
                *ngIf="isSql"
                @opacityAnimation
                [control]="needCreateSqlTableControl!"
                [label]="'Add table creation query'"
            ></app-checkbox>
        </div>
    </div>
</div>
