@use 'src/styles.scss' as *;

:host {
    .form-controls {
        @include flex-column(flex-start, flex-start);
        gap: 20px;

        &__columns {
            @include flex-column(space-between, baseline);
            gap: 10px;
        }

        &__add-columns {
            gap: 10px;
        }

        &__others {
            @include flex-row(flex-start, flex-start);
            gap: 20px;
            width: 100%;
        }
    }
}
