<div *ngLet="isSqlDocType$ | async as isSql" class="wrapper">
    <div class="header">
        <h2>Create txt/sql/doc/pdf/csv file</h2>
        <app-download-button (click)="downloadFile()"></app-download-button>
    </div>
    <div class="form-controls">
        <div class="form-controls__columns">
            <app-one-column-settings
                *ngFor="let columnFormGroup of columnsControls; let i = index"
                [@fadeIn]
                [columnFormGroup]="columnFormGroup"
                [isSqlDocType]="isSql"
                (handleRemove)="deleteColumn(i)"
            ></app-one-column-settings>
        </div>

        <div class="form-controls__add-column">
            <app-button (click)="addColumn()" [text]="'+ Add column'"></app-button>
        </div>

        <div class="form-controls__others">
            <app-select [control]="docTypeControl" [label]="'Document type'" [options]="docTypeOptions"></app-select>
            <app-input [control]="docNameControl" [label]="'Document name'" [placeholder]="'Enter file name'"></app-input>
            <app-checkbox
                *ngIf="isSql"
                [@opacityAnimation]
                [control]="needCreateSqlTableControl!"
                [label]="'Add table creation query'"
            ></app-checkbox>
        </div>
    </div>
</div>
