@use 'src/styles.scss' as *;

:host {
    .modal-wrapper {
        @include flex-row(center, center);
        @include ff-alfa(18px);

        color: greenyellow;
        letter-spacing: 3px;

        position: fixed;
        z-index: 1000000000000000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: rgba(0, 0, 0, 0.8);
    }

    .game-settings-modal {
        @include flex-column(space-around, center);

        width: 60%;

        padding: 20px 75px;
        border-radius: 20px;
        background: #7a7979;
        gap: 10px;

        &__part {
            @include flex-column(start, start);

            width: 100%;

            &-title {
                align-self: center;
            }

            &-body {
                @include flex-column(start, start);
                gap: 10px;
            }
        }

        &__submit {
            @include flex-row(center, center);
            gap: 20px;
        }
    }

    .key-control {
        @include flex-row(start, center);

        gap: 10px;
        height: 50px;

        &__value {
            @include flex-column(center, center);
            cursor: pointer;

            min-width: 50px;
            min-height: 50px;
            height: 100%;
            width: 100%;

            border-radius: 3px;
            background: transparent;
            text-align: center;
            transition: all 0.1s;
            user-select: none;

            &:hover {
                background: rgb(186, 185, 185);
            }
        }

        &__value-active {
            background: #dad068;
            &:hover {
                background: #dad068;
            }
        }
    }
}
