@use 'src/styles.scss' as *;

.modal-option-selector {
    @include flex-row(center, center);

    position: fixed;
    z-index: 1000000;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);

    width: 100vw;
    height: 100vh;
}
