.outlet {
    position: absolute;
    padding: 10px;
    top: 52px;
    left: 301px;
    width: calc(100% - 301px);
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid red;
    height: calc(100vh - 54px);
}
