@use 'src/styles.scss' as *;

:host {
    .chat-wrapper {
        @include flex-column(space-around, center);

        width: 100%;
        width: 400px;
        height: 600px;
        max-height: 800px;
    }

    .messages {
        @include flex-column(flex-start, normal);
        gap: 5px;

        overflow: auto;
        padding: 10px;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 2px 0 gray;
        border-radius: 10px;
    }
}
