<div class="field-wrapper">
    <h3>{{ isEnemyField ? 'Enemy field' : 'Your field' }}</h3>
    <div class="field">
        <div *ngFor="let row of positionsToShow" class="row">
            <div
                *ngFor="let cell of row"
                class="cell"
                [class.cell-change-mode]="isChangeMode"
                [class.cell-change-mode__selected]="isChangeMode && cell.hasShip"
                [class.cell-enemy__not-checked]="isEnemyField && cell.state === 'NOT_CHECKED'"
                [class.cell-hit]="cell.state === 'HIT'"
                (click)="onCellSelect(cell)"
            >
                <span *ngIf="cell.state === 'HIT'" class="material-symbols-outlined"> close </span>
                <span *ngIf="cell.hasShip && cell.state !== 'HIT'" class="material-symbols-outlined cell-has-ship"> sailing </span>
                <span *ngIf="cell.state === 'MISS'" class="cell-miss"> </span>

                <span class="cell-number">{{ cell.value }}</span>
            </div>
        </div>
    </div>

    <div class="field-columns-line"></div>
    <div class="field-rows-line"></div>
</div>
