@use 'src/styles.scss' as *;

:host {
    .field-wrapper {
        @include flex-column(center, center);
        position: relative;
    }

    .field-columns-line {
    }

    .field-rows-line {
    }

    .field {
        border-radius: 5px;
    }

    .row {
        @include flex-row(normal, center);
        width: 100%;
    }

    .cell {
        @include flex-row(center, center);

        position: relative;
        border: 1px solid black;
        width: 3rem;
        height: 3rem;
        user-select: none;

        &:hover {
            cursor: pointer;
            filter: brightness(70%);
        }

        &-hit,
        &-miss,
        &-has-ship {
            @include flex-row(center, center);
        }

        &-number {
            position: absolute;
            top: 2px;
            left: 2px;
            color: rgb(71, 2, 149) (160, 3, 3);
            font-size: 10px;
        }

        &-enemy__not-checked {
            background-color: rgb(103, 197, 244);
        }

        &-change-mode {
            background-color: pink;
            animation: fading 1s linear 0s infinite alternate none;

            &__selected {
                background-color: rgb(255, 217, 0);
            }
        }

        &-hit {
            background-color: rgb(218, 74, 86);
        }

        &-hit-icon {
            font-size: 2.5rem;
        }

        &-has-ship {
            // width: 2rem;
            // height: 2rem;
            font-size: 2rem;
        }

        &-miss {
            width: 10px;
            height: 10px;
            background: black;
            border-radius: 50%;
        }

        @include smallPC {
            width: 2rem;
            height: 2rem;

            &-hit-icon,
            &-has-ship {
                width: 1.5rem;
            }
        }
    }

    @keyframes fading {
        from {
            opacity: 0.4;
        }
        to {
            opacity: 1;
        }
    }
}
